@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0px;
    font-family: "Roboto";
}

.bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/iphoneX-bg.png");
    width: 100vw;
    height: 43vh;
    background-size: cover;
}

.heading{
    font-weight: bold;
}

.list{
    font-weight: bold;
    color: #0a1f44;
}

.space{
    margin-bottom: 25px;
    /* color: #707070; */
}

.last-container{
    border-color: #707070;
    padding: 35px;
}

.button{
    text-align: center;
    margin-left: 50%;
}